@import '../../config/style/variables';


body{
  box-sizing: border-box;
  overflow-x: hidden;
}

.hello{
  width: 100px;
}

.dildo {
  margin: 0;
  height: 400px;
 // color: white;
  text-align: center;

}

.headerContainer {
}

header {
  color: blue;
  position: fixed;
  width: 100%;
  z-index: 900;
}

nav{
  padding: 0!important;
  margin-bottom: 20px;

}

a{
  text-decoration: none;
  color: $color-mainblue!important;
}

ul  {
  display: inline-block;
  justify-content: center;
  text-transform: uppercase;
  border-bottom: 1px solid #e1ebf4 ;
  margin-bottom: 20px;
  letter-spacing: 3px;
  background: white;
  li {
    min-width: 222px;
    background-color: white;
    color:  $color-mainblue!important;
    transition: opacity 1s ease-in-out 0.5s;
    opacity:1;
    a{
      position: relative!important;
      padding: 20px!important;
      font-weight: 600;
    }
  }
}

.firstActive {
  background-color:  $color-mainblue;
  color: white!important;
}

.firstActive::after {
  display: block;
  content: '';
  background:  $color-mainblue;
  height: 64px;
  width: 1000px;
  position: absolute;
  left: -999px;
  top: 0;

}

.lastItem::after{
  background: white!important;
}


.exitItem {
  border-right: none;
}

.exitItem ::after {
  display: block;
  content: '';
  position: absolute;
  height: 62px;
  background: white;
  top: 0;
  left: 222px;
}



li.headerLi:hover{
  background-color: $color-mainblue;
  opacity:0.7;


    a.moreItems{
      color: white!important;

    }
  a.firstActive{
      color:  $color-mainblue;
  }
}

li a.firstActive :hover {
  background-color: white !important;
  a {
    color: #345a80 !important;

  }
  li {
    a.exitItem:hover {
      color: white;
    }
  }
}

.exitItem:hover:after {
    display: block;
    content: '';
    position: absolute;
    height: 64px;
    top: 0;
    left: 1222px;
    width: 1000px;
    background:  $color-mainblue;
  }



img {
  margin-top: 80px;
  background-size: cover;
  width: 100%;
}

  .firstActive:hover {
    color: $color-mainblue!important;
    background: white;
  }

.firstActive:hover:after {
  color: $color-mainblue!important;
  background: white;
}


.imgBtm {
  text-transform: uppercase;
  color: #d9d4ba;
  letter-spacing: 3px;
  font: 700 20px/18px "Roboto Condensed", sans-serif;
}

.imgScndBtm {
  color:  $color-mainblue;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 80px;
  position: relative;
}

.imgScndBtm:after {
  display: block;
  content: '';
  position: absolute;
  height: 3px;
  top: -20px;
  left: 50%;
  width: 30px;
  background:  #d9d4ba;
}

.imgScndBtm:before {
  display: block;
  content: '';
  position: absolute;
  height: 3px;
  top: 100px;
  left: 50%;
  width: 30px;
  background:  #d9d4ba;
}


.midlContetnImg {
  display: block;
  margin-top: 40px;
  background: url("../../page1_img1.png") no-repeat center;
  padding: 181px 0 193px;
  background-size: cover;
}

.fas{
  font-size: 40px;
  margin-bottom: 40px;
}


.midlContentH {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  position: relative;
}


.midlContentH::after{
  display: block;
  content: '';
  width: 25px;
  height: 3px;
  background-color: white;
  position: absolute;
  left: 45.5%;
  margin: 20px 0;
}

.midlContentH::before{
  display: block;
  content: '';
  width: 25px;
  height: 3px;
  background-color: white;
  position: absolute;
  left: 45.5%;
  margin-bottom: 40px;
  margin-top: -19px;
}

.scndP{
  margin-top: 40px;
}

.backBack {
  color: #c5c0a6;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-top: 38px;
  padding-right: 95px;

}

.backContainer {
  height: 150px;
  background:  white;
  color:  $color-mainblue;
}

.backMain {
  z-index: 2000;
  position: relative;
  top: -70px;
}

.freeConsult {
  text-transform: uppercase;
  letter-spacing: 3px;
font-weight: 900;
}


.callUs {
  color:  $color-mainblue;
  font-weight: 900;
  margin: 0;
  margin-top: 52px;
}


.phone {
  font-size: 40px;
  color: #c5c0a6;
  margin: 0;
}


.schedule {
  color: grey;
}

.chatOn {
  background:  $color-mainblue;
}


.registerNow {
  background: #c5c0a6;
  text-align:start;
cursor: pointer;
}

.registerNow:hover{
  background: cornflowerblue;
}

.registerP {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  margin-left: 30px;
  padding-top: 7px
}

.needLegalCon {
  margin-top: 50px;
  position: relative;

}


.needLegalCon:before {
  display: block;
  content: '';
  height: 3px;
  width:  30px;
  left: 48.5%;
  background: #c5c0a6;
  position: absolute;
}

.needLegal {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 40px;
  font-weight: 900;
  color:  $color-mainblue;
  padding-top: 30px;}


.readMe {
  color: $color-mainblue ;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
}

.readMe:after {
  margin-top: 10px;
  display: block;
  content: '';
  position: absolute;
  left: 48.5%;
  height: 4px;
  width: 30px;
  color:  $color-mainblue;
  background:  $color-mainblue;

}

.activitis:hover {
  background: white;
  color:  $color-mainblue;
}

.activitis:hover:after{
  color:  $color-mainblue;
  background:  $color-mainblue;
}


svg {
  width: 14px;
  fill: black;
}

.slidBtn {
  background: none;
  border: none;

  .fa{
    font-size: 20px;
    color: #d9e5ee;
  }
  .fas{
    color: #d9e5ee;

  }
}


.svgImg {
  width: 200px;

  svg{
    fill: red;
  }
}

.footerImg {
  margin: 0;
  height: 150px;
  width: 150px;
}

.slideImg {
  height: 200px;
}



#btnTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: lightgrey;
  cursor: pointer;
  background-color: white;
  background: transparent;
}

#btnTop:hover {
  color: $color-mainblue;
}

.slider-list {
  max-height: 500px;

  img{
    background-size: cover;
  }
}

.slider-list{
  ul{
    li:hover{

    }
  }
}

.slider {
  left: 14%;
}

.betweenS {
  position: relative;
  visibility: visible;
}

.betweenS:before {
  margin-top: 30px;
  display: block;
  content: '';
  position: absolute;
  width:40px;
  height: 5px;
  background: lightgrey;
  left: 48.5%;

}

.foundary {
  margin-top: 50px;
  color: $color-mainblue;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 600;
}

.singleLawyer {
  background: url("https://www.plc.if.ua/wp-content/uploads/2016/08/ba.jpg") no-repeat center; ;
  width: 100%;
  display: flex;
  align-items: center;
}

.laws {
  font-weight: 900;
  list-style: none;
  margin-left: 20px;
  border:none;
  border-left: none!important;

  i {
    font-size: 20px;
  }

  .fas{
    font-size: 20px;
  }
  .fab {
    font-size: 20px;
  }
}

.fab {
  font-size: 40px;
  margin-right: 10px;
}

.fab:hover{
  color: cornflowerblue;
}
.fas:hover{
  color: cornflowerblue;
}

i{
  font-size: 40px;
}

.name{
  color:  $color-mainblue;
}
.prof {
  color:  $color-mainblue;
}

.singleLawyer{
  border: none;
}

.ant-modal-close {
  text-align: center;
}

.topImg {
  max-width: 600px;
}

.socials{
  display: flex;
  justify-content: left;
  cursor: pointer;

  i{
   fill: red;
  }
}



.headerLi {
  border-left: 1px solid #e1ebf4;

}

.lawL{
  cursor: pointer;
}

.lawL:hover{
  background: cornflowerblue;

};

.moreItems {
  color: $color-mainblue!important;
}

.moreItems:hover{
  color: $color-mainblue!important;

}

.firstActive {
  background: $color-mainblue;
  color: white!important;
}

.footer {
  padding-top: 80px;
  background:  $color-mainblue;
  margin-top: 10px;
  padding-bottom: 200px;
  text-align: left;
}


.secondF {
  padding-top: 50px;
}

.phoneF {
  font-size: 30px;
  color: white;

}

.fotterP {
  font-size: 15px;
  color: white;
  margin: 0;
}

footer:before {
  height: 12.5vw;
  background: #424242;
  width: 200%;
  left: 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(14deg);
  transform: rotate(14deg);
}

footer:after {
  height: 25.5vw;
  background: #eee;
  width: 200%;
  right: 0;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: rotate(-19.7deg);
  transform: rotate(-19.7deg);
}

.footerR {
  margin-top: 10px;
  font-size: 15px;
  color: white;
  letter-spacing: 8px;
  font-weight: 600;
}


.pageFooter{
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

.pageFooter:after {
  position: absolute;
  display: block;
  content: '';
  height: 25.5vw;
  background: #eee;
  width: 590px;
  right: 0;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: rotate(-19.7deg);
  transform: rotate(-20.7deg);
}

.pageFooter:before{
  position: absolute;
  top: 408px;
  display: block;
  content: '';
  height: 14.5vw;
  background: #424242;
  width: 474px;
  left: 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(14deg);
  transform: rotate(14deg);
}
