body {
  box-sizing: border-box;
  overflow-x: hidden; }

.hello {
  width: 100px; }

.dildo {
  margin: 0;
  height: 400px;
  text-align: center; }

header {
  color: blue;
  position: fixed;
  width: 100%;
  z-index: 900; }

nav {
  padding: 0 !important;
  margin-bottom: 20px; }

a {
  text-decoration: none;
  color: #345a80; }

ul {
  display: inline-block;
  justify-content: center;
  text-transform: uppercase;
  border-bottom: 1px solid #e1ebf4;
  margin-bottom: 20px;
  letter-spacing: 3px;
  background: white; }
  ul li {
    min-width: 222px;
    background-color: white;
    color: #345a80 !important;
    transition: opacity 1s ease-in-out 0.5s;
    opacity: 1; }
    ul li a {
      text-align: center;
      position: relative !important;
      padding: 20px !important;
      font-weight: 600; }

.firstActive {
  background-color: #345a80;
  color: white !important; }

.firstActive::after {
  display: block;
  content: '';
  background: #345a80;
  height: 64px;
  width: 1000px;
  position: absolute;
  left: -999px;
  top: 0; }

.lastItem::after {
  background: white !important; }

.exitItem {
  border-right: none;
  position: relative; }

.exitItem ::after {
  display: block;
  content: '';
  position: absolute;
  height: 67px;
  background: white;
  top: 0;
  left: 312px; }

.exitItem:hover:after {
  background: #345a80; }

li.headerLi:hover {
  background-color: #345a80;
  opacity: 0.9; }
  li.headerLi:hover a.moreItems {
    color: white !important; }
  li.headerLi:hover a.firstActive {
    color: #345a80; }

li a.firstActive :hover {
  background-color: white !important; }
  li a.firstActive :hover a {
    color: #345a80 !important; }
  li a.firstActive :hover li a.exitItem:hover {
    color: white; }
  li a.firstActive :hover li a.exitItem:hover:after {
    background: #345a80; }

.exitItem:hover:after {
  display: block;
  content: '';
  position: absolute;
  height: 64px;
  top: 0;
  left: 217px;
  width: 1000px;
  background: #345a80; }

img {
  margin-top: 80px;
  background-size: cover;
  width: 100%; }

.firstActive:hover {
  color: #345a80 !important;
  background: white; }

.firstActive:hover:after {
  color: #345a80 !important;
  background: white; }

.exitItem:hover:after {
  color: #345a80 !important;
  background: #345a80 !important; }

.imgBtm {
  text-transform: uppercase;
  color: #d9d4ba;
  letter-spacing: 3px;
  font: 700 20px/18px "Roboto Condensed", sans-serif; }

.imgScndBtm {
  color: #345a80;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 80px;
  position: relative; }

.imgScndBtm:after {
  display: block;
  content: '';
  position: absolute;
  height: 3px;
  top: -20px;
  left: 50%;
  width: 30px;
  background: #d9d4ba; }

.imgScndBtm:before {
  display: block;
  content: '';
  position: absolute;
  height: 3px;
  top: 100px;
  left: 50%;
  width: 30px;
  background: #d9d4ba; }

.midlContetnImg {
  display: block;
  margin-top: 40px;
  background: url("../../page1_img1.png") no-repeat center;
  padding: 181px 0 193px;
  background-size: cover; }

.fas {
  font-size: 40px;
  margin-bottom: 40px; }

.midlContentH {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  position: relative; }

.midlContentH::after {
  display: block;
  content: '';
  width: 25px;
  height: 3px;
  background-color: white;
  position: absolute;
  left: 45.5%;
  margin: 20px 0; }

.midlContentH::before {
  display: block;
  content: '';
  width: 25px;
  height: 3px;
  background-color: white;
  position: absolute;
  left: 45.5%;
  margin-bottom: 40px;
  margin-top: -19px; }

.scndP {
  margin-top: 40px; }

.backBack {
  color: #c5c0a6;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-top: 38px;
  padding-right: 95px; }

.backContainer {
  height: 150px;
  background: white;
  color: #345a80; }

.backMain {
  z-index: 2000;
  position: relative;
  top: -70px; }

.freeConsult {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 900; }

.callUs {
  color: #345a80;
  font-weight: 900;
  margin: 0;
  margin-top: 52px; }

.phone {
  font-size: 40px;
  color: #c5c0a6;
  margin: 0; }

.schedule {
  color: grey; }

.chatOn {
  background: #345a80; }

.registerNow {
  background: #c5c0a6;
  text-align: start;
  cursor: pointer; }

.registerNow:hover {
  background: cornflowerblue; }

.registerP {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  margin-left: 30px;
  padding-top: 7px; }

.needLegalCon {
  margin-top: 50px;
  position: relative; }

.needLegalCon:before {
  display: block;
  content: '';
  height: 3px;
  width: 30px;
  left: 48.5%;
  background: #c5c0a6;
  position: absolute; }

.needLegal {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 40px;
  font-weight: 900;
  color: #345a80;
  padding-top: 30px; }

.readMe {
  color: #345a80;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 900;
  position: relative; }

.readMe:after {
  margin-top: 10px;
  display: block;
  content: '';
  position: absolute;
  left: 48.5%;
  height: 4px;
  width: 30px;
  color: #345a80;
  background: #345a80; }

.activitis:hover {
  background: white;
  color: #345a80; }

.activitis:hover:after {
  color: #345a80;
  background: #345a80; }

svg {
  width: 14px;
  fill: black; }

.slidBtn {
  background: none;
  border: none; }
  .slidBtn .fa {
    font-size: 20px;
    color: #d9e5ee; }
  .slidBtn .fas {
    color: #d9e5ee; }

.svgImg {
  width: 200px; }
  .svgImg svg {
    fill: red; }

.footerImg {
  margin: 0;
  height: 150px;
  width: 150px; }

.slideImg {
  height: 200px; }

#btnTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: lightgrey;
  cursor: pointer;
  background-color: white;
  background: transparent; }

#btnTop:hover {
  color: #345a80; }

.slider-list {
  max-height: 500px; }
  .slider-list img {
    background-size: cover; }

.slider {
  left: 14%; }

.betweenS {
  position: relative;
  visibility: visible; }

.betweenS:before {
  margin-top: 30px;
  display: block;
  content: '';
  position: absolute;
  width: 40px;
  height: 5px;
  background: lightgrey;
  left: 48.5%; }

.foundary {
  margin-top: 50px;
  color: #345a80;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 600; }

.singleLawyer {
  background: url("https://www.plc.if.ua/wp-content/uploads/2016/08/ba.jpg") no-repeat center;
  width: 100%;
  display: flex;
  align-items: center; }

.singleLawyerP {
  background: url("https://www.plc.if.ua/wp-content/uploads/2016/08/pi.jpg") no-repeat center;
  width: 100%;
  display: flex;
  align-items: center; }

.singleLawyerV {
  background: url("https://www.plc.if.ua/wp-content/uploads/2016/08/gv.jpg") no-repeat center;
  width: 100%;
  display: flex;
  align-items: center; }

.laws {
  font-weight: 900;
  list-style: none;
  margin-left: 20px;
  border: none;
  border-left: none !important; }
  .laws i {
    font-size: 20px; }
  .laws .fas {
    font-size: 20px; }
  .laws .fab {
    font-size: 20px; }

.fab {
  font-size: 40px;
  margin-right: 10px; }

.fab:hover {
  color: cornflowerblue; }

.fas:hover {
  color: cornflowerblue; }

i {
  font-size: 40px; }

.name {
  color: #345a80; }

.prof {
  color: #345a80; }

.singleLawyer {
  border: none; }

.ant-modal-close {
  text-align: center; }

.topImg {
  max-width: 600px; }

.socials {
  display: flex;
  justify-content: left;
  cursor: pointer; }
  .socials i {
    fill: red; }

.headerLi {
  border-left: 1px solid #e1ebf4; }

.lawL {
  cursor: pointer; }

.lawL:hover {
  background: cornflowerblue; }

.moreItems {
  color: #345a80 !important; }

.moreItems:hover {
  color: #345a80 !important; }

.firstActive {
  background: #345a80;
  color: white !important; }

.footer {
  padding-top: 80px;
  background: #345a80;
  margin-top: 10px;
  padding-bottom: 200px;
  text-align: left; }

.secondF {
  padding-top: 50px; }

.phoneF {
  font-size: 30px;
  color: white; }

.fotterP {
  font-size: 15px;
  color: white;
  margin: 0; }

footer:before {
  height: 12.5vw;
  background: #424242;
  width: 200%;
  left: 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(14deg);
  transform: rotate(14deg); }

footer:after {
  height: 25.5vw;
  background: #eee;
  width: 200%;
  right: 0;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: rotate(-19.7deg);
  transform: rotate(-19.7deg); }

.footerR {
  margin-top: 10px;
  font-size: 15px;
  color: white;
  letter-spacing: 8px;
  font-weight: 600; }

.pageFooter {
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden; }

.pageFooter:after {
  position: absolute;
  display: block;
  content: '';
  height: 25.5vw;
  background: #eee;
  width: 590px;
  right: 0;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: rotate(-19.7deg);
  transform: rotate(-20.7deg); }

.pageFooter:before {
  position: absolute;
  top: 408px;
  display: block;
  content: '';
  height: 14.5vw;
  background: #424242;
  width: 474px;
  left: 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(14deg);
  transform: rotate(14deg); }

.createDoc {
  margin-top: 40px;
  margin-left: 20px;
  background: none;
  color: #345a80;
  width: 240px;
  height: 80px;
  border: 1px solid #345a80;
  font-size: 18px;
  border-radius: 4px;
  transition: .6s;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  position: relative; }
  .createDoc a {
    color: #345a80; }

.createDoc:focus {
  outline: none; }

.createDoc:before {
  content: '';
  position: absolute;
  display: block;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: .5;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg); }

.createDoc:after {
  content: '';
  position: absolute;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: .5;
  filter: blur(30px);
  transform: translateX(-100px) scaleX(-15deg); }

.createDoc:hover {
  background: #345a80;
  cursor: pointer;
  color: white; }
  .createDoc:hover a {
    color: white;
    text-decoration: none; }

.createDoc:hover:after {
  opacity: 1;
  transition: .7s;
  transform: translateX(300px) skewX(-15deg); }

.createDoc:hover:before {
  opacity: .6;
  transition: .7s;
  transform: translateX(300px) skewX(-15deg); }

.laws {
  text-align: right !important; }

.slider-control-center-left {
  top: 43%;
  left: -47px; }

.slider-control-centerright {
  top: 48%;
  right: -47px; }

.slidBtn:focus {
  outline: none; }

.ant-select-dropdown-menu {
  width: 100%; }

.pozovF {
  justify-content: center;
  margin-top: 40px; }

.pozov {
  width: 100%; }
  .pozov h3 {
    padding-left: 10px; }
  .pozov label {
    max-width: 150px;
    font-size: 13px;
    font-weight: 600;
    margin-right: 10px; }

.pozovHead {
  color: white;
  background: #345a80; }

label {
  width: 150px; }

select {
  width: 100%; }

.logReg {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer; }

.alreadyReg {
  background-color: #1890ff;
  color: white;
  padding: 10px;
  flex-grow: 1;
  text-align: center; }

.registerTab {
  flex-grow: 1;
  text-align: center; }

.authFlow {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #345a80;
  color: white; }
  .authFlow p {
    margin: 10px 0 0; }

.content {
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.logo {
  display: inline-block;
  width: 40px; }

.duplicate {
  text-align: center;
  font-weight: 600;
  color: red; }
